exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.new", "rainbow", "rgb")
importFrom("graphics", "axis", "image", "legend", "lines", "plot",
             "rect", "segments", "text")
importFrom("stats", "fft", "mvfft", "rnorm", "runif", "spec.taper",
             "var")

